header {
    color: #000;
    padding-top: 10vw;
    padding-bottom: 5vw;
    text-align: center;
  }

body {
    font-family: Poppins,Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80);
    background-size: cover;
    background-attachment: fixed;
}

.form {
    position: relative;
    overflow: hidden;
    margin: auto;
    padding: 24px;
    min-width: 380px;
    max-width: 480px;
    width: 100%;
    justify-items: center;
    width: fit-content;
    text-align: center;
    border-radius: 20px;
    background: rgba(196, 196, 196, 0.2);
    backdrop-filter: blur(25px);
}

.table {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    text-align: left;

}

.table th{
    color: #fff;
}


td{
    font-size: 16px;
    vertical-align: center;
}

.button {
    align-content: center;
    border-radius: 5px;
    background-color: #229BD8;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
}

.button a{
    font-family: poppins,Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

input[type=text], select {
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #1C86BB;
  }